@use '../abstracts/' as *;

.footer {
	background-image: url("../images/footer-bg.svg");
	background-repeat: no-repeat;
	background-size: 58.5rem;
	background-position: top center;
	margin-top: 2rem;
	height: 50vh;
	font-size: 0.5rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
	.footer-logo,
	.footer-links,
	.footer-social-media,
	.footer-time,
	.footer-contact {
		color: $white;
		display: flex;
		flex-direction: column;
	}
	.footer-mobile {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		padding-left: .5rem;
		&-logo {
			min-width: 90%;
		}
		&-contact {
			color: $white;
		}
		&-social-media {
			display: block;
			color: $white;
			white-space: nowrap;
			p {
				font-size: .8rem;
				text-align: center;
			}
			.social-media-links {
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;
				align-items: center;
				.social-media-link {
					color: $white;
				}
			}
		}
	}
	.footer-logo {
		display: none;
	}
	.footer-contact {
		display: none;
	}
	.footer-links {
		a {
			margin: 0.5rem 0;
		}
		.footer-link {
			color: $white;
		}
	}
	.footer-links,
	.footer-time {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		bottom: 0;
		margin: 0 1rem;
	}
	.footer-links {
		margin-top: 1rem;
	}
	.footer-time {
		white-space: nowrap;
		margin-bottom: 6rem;
		h4 {
			margin-top: 2rem;
		}
		p {
			margin: 0.5rem 0;
		}
	}
	.footer-social-media {
		display: none;
	}
}


@media screen and (min-width: 768px) and (max-width: 993px){
	.footer {
		background-size: 82.5rem;
		.footer-mobile {
			&-social-media, p {
				font-size: 1rem;
			}
		}
		&-links,
		&-time {
			font-size: 1rem;
		}
	}
}

@media screen and (min-width: 994px) {
	.footer {
		background-size: 100rem;
		align-items: flex-start;
		padding: 5rem;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		height: 55vh;
		.footer-mobile {
			display: none;
		}
		.footer-logo,
		.footer-contact,
		.footer-social-media {
			display: block;
		}

		.footer-social-media {
			.footer-logo {
				min-width: 100%;
			}
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 1.5rem;
		}
		.social-media-links {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			width: 100%;
			.social-media-link {
				color: $white;
				font-size: 1rem;
			}
		}

		.footer-links {
			.footer-link {
				font-size: 1rem;
			}
		}
		.footer-time {
			margin-top: 5rem;
			font-size: 1rem;
		}
		.footer-contact {
			h4 {
				margin-bottom: 1rem;
			}
			font-size: 1rem;
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}
		.footer-social-media,
		.footer-links {
			margin-top: 8rem;
		}

		.footer-contact {
			margin-top: 4rem;
		}
	}
}

@media screen and (min-width: 1386px) {
	.footer {
		background-size: 120rem;
	}
}

@media screen and (min-width: 1800px) {
	.footer {
		background-size: 140rem;
	}
}

@media screen and (min-width: 320px) and (max-width: 359px) {
	.footer {
		background-size: 45rem;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1024px) {
	.footer {
		background-size: 150rem;
		&-links a,
		&-time p {
			font-size: 1.3rem;
		}
		.footer-mobile {
			&-social-media {
				p {
					font-size: 2rem;
				}
				.social-media-links {
					.social-media-link {
						font-size: 2rem;
					}
				}
			}
			&-contact {
				font-size: 1.3rem;
			}
		}
	}
}
