@use '../abstracts/' as *;

.header-bg-img {
	background-image: url('../../images/home-bg.svg');
	background-repeat: no-repeat;
	background-position: top right;
}

#home {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	.home-info {
		margin-left: 4rem;
		.header-title {
			font-size: 4rem;
			&--bold {
				font-weight: $poppins-bold;
			}
		}
		.header-sub-title {
			font-size: 1.5rem;
			width: 60%;
			margin: 3rem 0;
		}
	}

	.home-img {
		margin-right: 25rem;
	}
}
