@use '../abstracts' as *;

.navbar {
	padding: 1rem 0;
	width: 100%;
	background-color: transparent;
	.navbar-nav {
		.nav-link {
			font-size: 1.3rem;
			font-weight: $poppins-bold;
			text-transform: uppercase;
			text-align: center;
		}
	}

	.custom-toggler {
		.fas {
			color: $white;
			font-size: 2rem;
		}
	}

	&-brand {
		min-width: 30%;
		max-width: 50%;
		min-height: auto;
	}
}

.navbar-dark {
	.navbar-toggler {
		color: transparent;
		border-color: transparent;
	}
}

@media screen and (max-width: 991px){
	.navbar {
		.navbar-nav {
			background-color: $white;
			z-index: 1041;
			position: absolute;
			padding: 5rem;
			right: 0;
			top: 0;
			.nav-link {
				color: $blue-500;
				margin-bottom: 1rem;
			}
			.selected {
				border-bottom: 3px solid $blue-500;
			}
		}
	}
	
}

@media screen and (min-width: 992px) {
	.navbar {
		&-brand {
			min-width: 15%;
			max-width: 50%;
		}
		.navbar-nav {
			.nav-link {
				padding: 0 3rem;
				margin: 0 1rem;
				color: $white;
				position: relative;
			}
			.nav-link::after,
			.selected::after {
				content: "";
				position: absolute;
				background-color: $white;
				height: .3rem;
				width: 0;
				left: 0;
				bottom: -10px;
				transition: 0.3s;
			}
			.nav-link:hover::after {
				width: 100%;
			}
			.nav-link:hover {
				color: $white;
			}
			.selected::after {
				width: 100%;
			}
		}
	}
}

@media screen and (min-width: 1024px) and (max-width: 1450px){
	.navbar {
		.navbar-nav {
			.nav-link {
				margin: 0 .5rem;
				padding: 0 1rem;
			}
		}
	}
}
