@use '../abstracts' as *;

.navbar {
	padding: 1rem 0;
	width: 100%;
	background-color: transparent;
	.navbar-nav {
		.nav-link {
			font-size: 1.3rem;
			font-weight: $poppins-bold;
			text-transform: uppercase;
			color: $white;
			text-align: right;
		}
	}
	.custom-toggler {
		.fas {
			color: $white;
			font-size: 2rem;
		}
	}
	&-brand {
		min-width: 30%;
		max-width: 50%;
		min-height: auto;
	}
}

.navbar-dark {
	.navbar-toggler {
		color: transparent;
		border-color: transparent;
	}
}

@media screen and (min-width: 992px) {
	.navbar {
		&-brand {
			min-width: 15%;
			max-width: 50%;
		}
		.navbar-nav {
			.nav-link {
				padding: 0 3rem;
			}
		}
	}
}
