@use '../abstracts/' as *;

#home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.title {
		margin-left: 0;
	}
	.home-section {
		margin-top: 2rem;
		padding: 1rem;
		.home-info {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: flex-start;
			justify-content: center;		
			text-align: left;
			width: 100%;
			.header-title {
				font-size: 1.5rem;
				max-width: 80%;
				text-align: left;
				margin-bottom: 0;
				&--bold {
					font-weight: $poppins-bold;
				}
			}
			.header-sub-title {
				font-size: 0.8rem;
				margin: 1rem 0;
				max-width: 80%;
			}
		}
	}
	.home-img {
		display: none;
	}
}

.header-bg-img {
	background-image: url("../images/home-bg.svg");
	background-repeat: no-repeat;
	background-position: top -35% right;
	background-size: 16rem;
}

@media screen and (min-width: 992px) {	
	#home {
		.home-img {
			display: block;
		}
		.home-section {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			.home-info {
				max-width: 45%;
				text-align: left;
				.header-title {
					font-size: 4rem;
					text-align: left;
				}
				.btn {
					align-self: flex-start;
				}
			}
		}
	}
	.header-bg-img {
		background-size: auto;
	}
}

