#opinions {
	.carousel {
		.carousel-inner {
			text-align: left;
			padding: 5rem 10rem;
			.carousel-item {
				.opinions-quote {
					font-size: 1.5rem;
					.blockquote-footer {
						margin-top: 2rem;
						text-align: center;
					}
					p {
						opacity: .8;
						margin-bottom: 1rem;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 992px) {
	#carouselExampleDark > button.carousel-control-next > span.carousel-control-next-icon,
	#carouselExampleDark > button.carousel-control-prev > span.carousel-control-prev-icon {
		display: none;
	}	
	#opinions {
		.carousel {
			.carousel-inner {
				padding: 2rem 1rem;
				.carousel-item {
					.opinions-quote {
						padding: 0 1rem;
						font-size: 1.3rem;

					}
				}
			}
		}
	}
}

@media screen and (min-width: 1600px) {
	#opinions {
		.carousel {
			.carousel-inner {
				padding: 5rem 15rem;
			}
		}
	}
}
