#opinions {
	.carousel {
		.carousel-inner {
			text-align: center;
		}
	}
}

@media screen and (max-width: 992px) {
	#carouselExampleDark > button.carousel-control-next > span.carousel-control-next-icon,
	#carouselExampleDark > button.carousel-control-prev > span.carousel-control-prev-icon {
		display: none;
	}	
	#opinions {
		.carousel {
			.carousel-inner {
				padding: 2rem 0;
				.carousel-item {
					.opinions-quote {
						p {
							opacity: .8;
							margin-bottom: 1rem;
						}
					}
				}
			}
		}
	}
}
