#opinions {
	text-align: center;
	.carousel {
		.carousel-inner {
			.carousel-item {
				.carousel-opinion {
					padding: 3rem;
					margin-bottom: 1.5rem;
				}
				.carousel-caption {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					.carousel-quote {
						display: inline-block;
						background-color: rgba(black, 0.55);
						height: 0.187rem;
						width: 1.7rem;
						margin-right: 1rem;
					}
				}
			}
		}
	}
}
