@use '../abstracts/' as *;

#services {
	margin-top: 0;
	.services-info {
		align-items: stretch;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		padding: 1rem;
		.card {
			flex-grow: 0;
			flex-shrink: 0;
			max-width: 80%;
			margin: 0 1rem;
			border-radius: 1rem;
			&-body {
				display: flex;
				flex-direction: column;
				.card-title,
				.card-text {
					text-align: left;
				}
				.card-title {
					font-size: 1.2rem;
					font-weight: $poppins-medium;
				}
				.card-text {
					font-size: 0.9rem;
					margin-bottom: 2rem;
				}
				.btn {
					margin-top: auto;
					align-self: center;
					background: $blue-btn-gradient;
					border-color: transparent;
				}
			}
		}
	}
}


@media screen and (min-width: 480px) and (max-width: 599px) {
	#services {
		.services-info {
			.card {
				max-width: 70%;
			}
		}
	}
}

@media screen and (min-width: 600px) and (max-width: 768px) {
	#services {
		.services-info {
			.card {
				max-width: 55%;
			}
		}
	}
}

@media screen and (min-width: 769px) and (max-width: 992px){
	#services {
		.services-info {
			.card {
				max-width: 40%;
			}
		}
	}
}

@media screen and (min-width: 993px) {
	#services {
		.services-title {
			margin-bottom: 10rem;
		}
		.services-info {
			overflow: hidden;
			padding: 0;
			justify-content: space-evenly;
			.card {
				max-width: 27%;
				margin: 1rem 0;
				&-body {
					.btn {
						align-self: flex-end;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1500px) {
	#services {
		.services-info {
			.card {
				max-width: 20%;
			}
		}
	}
}
