#services {
	text-align: center;
	margin: 4rem 0;
	.services-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: space-around;
		.card {
			margin: 1rem 0;
			&-body {
				.card-title {
					font-size: 1.5rem;
				}
				.card-text {
					font-size: 0.8rem;
					margin-bottom: 0.8rem;
				}
			}
		}
	}
}
