@use '../abstracts/' as *;

::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

#services {
	text-align: center;
	margin: 4rem 0;
	.services-info {
		align-items: stretch;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		padding: 1rem;
		.card {
			flex-grow: 0;
			flex-shrink: 0;
			max-width: 80%;
			margin: 0 1rem;
			border-radius: 1rem;
			&-body {
				display: flex;
				flex-direction: column;
				.card-title,
				.card-text {
					text-align: left;
				}
				.card-title {
					font-size: 1.2rem;
					font-weight: $poppins-medium;
				}
				.card-text {
					font-size: 0.9rem;
					margin-bottom: 2rem;
				}
				.btn {
					margin-top: auto;
					align-self: center;
					background: linear-gradient(45deg, $blue-400, $blue-500);
					border-color: transparent;
				}
			}
		}
	}
}
